<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id='home' class="navbar-brand" href="#home">Anu Shrestha</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a id='about' href="#about">About</a></li>
                <li><a id='project' href="#project">Portfolio</a></li>
                <li><a id='contact' href="#contact">Conctact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class='logo'>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div id='hometext' class="container">
    <div class="parallax">
        <div class='home'>
            <h1 id="software">SOFTWARE DEVELOPER</h1>
            <h1 id='galvanize'>GALVANIZE STUDENT</h1>
            <h1 id='colorado'>COLORADO BORN AND RAISED</h1>
        </div>
    </div>
</div>


<!-- About -->
<div class="about container">
  <h1 class='aboutTitle'> ABOUT </h1>
    <div class='aboutdiv'>
        <div id='pic'> </div>
        <div class='abouttext'> Hello! My name is Anu Shrestha. I am a software developer from Boulder, Colorado. I studied coding at Galvanize where I learned HTML, CSS, JavaScript, Node.js, Express, Angular and PSQL. On top of that, I have also been teaching myself Python, Django, and Java. </div>

        <div class="resume-row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"><a class="btn btn-primary"
  href='https://drive.google.com/file/d/0B4xPFUOTXAttYWpfRlBkWW5mZkE/view?usp=sharing' id='resume'>Resume</a></div>
  <div class="col-sm-4"></div>
</div>




    <div class="links">
      <div class="row">

        <a id='contactlink' href="#contactlink">
          <div class="col-sm-4">
            <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i>
          </div>
        </a>

        <a href='https://github.com/Anudle'>
          <div class="col-sm-4">
            <i class="fa fa-github fa-4x" aria-hidden="true"></i>
          </div>
        </a>
        <a href='https://www.linkedin.com/in/anudle'>
          <div class="col-sm-4">
            <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
          </div>
        </a>
      </div>
    </div>
</div>

</div>
<div id="city"></div>

<!-- Portfolio -->
<div id='project' class="projects container">
    <h1 class='projectTitle'> Portfolio </h1>
    <div class="projectBox1 row">



<!--NFL POP UP -->

<div id="nfl">
  <h2 id='titlepop'> NFL Insult Generator </h2>
<div id='imagebox'>
  <div>
    <img class='nflPreview' src="../images/nfl.png">
  </div>
  <div>
    <img class='nflPreview' src="../images/nfl2.png">
  </div>
  <div>
    <img class='nflPreview' src="../images/nfl3.png">
  </div>
</div>
  <p id='p-pop'>
    An interactive website where a selected NFL team is roasted using reddit.com/r/nfl data
  </p>
  <a class='weblink' href='https://calm-oasis-47511.herokuapp.com/#'>Visit site </a>
  <p id='p-pop'>
    HTML5 | CSS3 | JavaScript | jQuery |  REDDIT JSON | Agile
  </p>
    <a href='https://github.com/Anudle/NFL-Insult-generator/tree/master/NFL'><i class="git fa fa-github fa-4x" aria-hidden="true"></i></a>
  <button class="nfl_close btn btn-primary">Close</button>
</div>


<!-- NFL MAIN -->
      <a  class='nfl_open cursor'>
        <div class='nfl col-sm-4 '>
            <div class='proj1'></div>
        <h3 class='porttext'>NFL Insult Generator</h3>
        </div>
      </a>


        <div class="col-sm-4"></div>
<!-- SCURRY MAIN -->
    <a class='scurry_open cursor'>
        <div class="col-sm-4">
          <div id='cursor' class='proj2'></div>
          <h3 class='scurrytext'>Scurry</h3></div>
    </div>
</a>
<!-- Scurry pop up -->
<div id="scurry">
  <h2 id='titlepop'> Scurry </h2>
<a href='https://scurry-app.herokuapp.com/'><div id='scurryimagebox'>
  <div>
    <img class='scurryPreview' src="../images/scurry.png">
  </div>
  <div>
    <img class='scurryPreview' src="../images/scurry2.png">
  </div>
  <div>
    <img class='scurryPreview' src="../images/scurry3.png">
  </div>
</div></a>
  <p id='p-pop'>
    Website designed to help you create and organize events for the public, while allowing you to add existing activities to your dashboard
  </p>
  <a class='weblink' href='https://scurry-app.herokuapp.com/'>Visit site </a>
  <p id='p-pop'>
    HTML5 | CSS3 | JavaScript | jQuery | Bootstrap | Handlebars | PSQL | Express | Node.js | Passport | bcrypt | Knex | Agile | Google Maps API | heroku
  </p>
    <a href='https://github.com/Anudle/scurry'><i class="git fa fa-github fa-4x" aria-hidden="true"></i></a>
  <button class="scurry_close btn btn-primary">Close</button>
</div>


<!-- Python Main -->
    <div class="projectBox2 row">
      <a class='python_open cursor' herf=''>
        <div class='col-sm-4'>
        <div class='proj3'></div>
        <h3 class='pythontext'>Python Arcade</h3>
        </div>
      </a>


      <!-- Python Pop up -->
      <div id="python">
        <h2 id='titlepop'> Python Arcade </h2>
      <a href='https://tranquil-tundra-31922.herokuapp.com/'><div id='arcadeimagebox'>
        <div>
          <img class='scurryPreview' src="../images/arcade.png">
        </div>
        <div>
          <img class='scurryPreview' src="../images/arcade2.png">
        </div>
        <div>
          <img class='scurryPreview' src="../images/arcade3.png">
        </div>
      </div></a>
        <p id='p-pop'>
          My third quarter project where we created 3 games using javascript frontend and a Python backend. Shoot aliens, play our version of flappy bird, and fight the streets of Denver as our lead instructor.
        </p>
        <a class='weblink' href='https://tranquil-tundra-31922.herokuapp.com/'>Visit site </a>
        <p id='p-pop'>
          HTML5 | CSS3 | JavaScript | Python | Django | MySQL | Phaser.js | heroku
        </p>
          <a href='https://github.com/Django-Undeployed/Python-Arcade'><i class="git fa fa-github fa-4x" aria-hidden="true"></i></a>
        <button class="python_close btn btn-primary">Close</button>
      </div>

      <!-- Book Main -->
        <div class='col-sm-4'></div>
      <a class='book_open cursor' href''><div class="col-sm-4">
        <div class='proj4'></div>
        <h3 class='readtext'>Galvanize Reads</h3>
        </div>
      </a>

 <!-- Book Pop up -->
      <div id="book">
        <h2 id='titlepop'> Galvanize Read </h2>
      <a href='https://pacific-basin-47677.herokuapp.com/'><div id='bookimagebox'>
        <div>
          <img class='scurryPreview' src="../images/book.png">
        </div>
        <div>
          <img class='scurryPreview' src="../images/book2.png">
        </div>
        <div>
          <img class='scurryPreview' src="../images/book3.png">
        </div>
      </div></a>
        <p id='p-pop'>
          A CRUD (create, read, update, delete) application where you're able to add books and authors to a collection.
        </p>
        <a class='weblink' href='https://pacific-basin-47677.herokuapp.com/'>Visit site </a>
        <p id='p-pop'>
          HTML5 | CSS3 | JavaScript | jQuery | Bootstrap | Handlebars | PSQL | Express | Node.js | Knex | heroku
        </p>
        <a href='https://github.com/Anudle/anuGalvanizeReads'><i class="git fa fa-github fa-4x" aria-hidden="true"></i></a>
        <button class="book_close btn btn-primary">Close</button>
      </div>
    </div>
</div>


<!-- Capstone MAIN -->
<div class="col-sm-4"></div>
      <a class='cap_open cursor' href=''>
        <div class='cap col-sm-4 '>
            <div class='proj5'></div>
        <h3 class='porttext' id='captext'>5-2-Finds (Capstone)</h3>
        </div>
      </a>

<!-- Capstone PopUp -->
      <div id="cap">
        <h2 id='titlepop'> 5-2-Finds </h2>
      <a href='http://www.52finds.com/'><div id='capimagebox'>
        <div>
          <img class='scurryPreview' src="../images/cap1.png">
        </div>
        <div>
          <img class='scurryPreview' src="../images/cap2.png">
        </div>
        <div>
          <img class='scurryPreview' src="../images/cap3.png">
        </div>
      </div></a>
        <p id='p-pop'>
          An interactive website to select the most sutiable college saving portfolio.
        </p>
        <a class='weblink' href='http://www.52finds.com/'>Visit site </a>
        <p id='p-pop'>
          HTML5 | CSS3 | JavaScript | jQuery | Bootstrap | Handlebars | PSQL | Express | Node.js | Knex | Heroku | Chart.js | Yahoo Finance API
        </p>
        <a href='https://github.com/Anudle/52find'><i class="git fa fa-github fa-4x" aria-hidden="true"></i></a>
        <button class="cap_close btn btn-primary">Close</button>
      </div>
    </div>
</div>


        <div class="col-sm-4"></div>


<div id="summer"></div>



<!-- Contacts -->

<h1 class='contactTitle'>Contact</h1>
<div class="contactbox container">
  <form action="https://formspree.io/anushrestha007@gmail.com"
        method="POST" class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="Name" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputName"  name='name' placeholder=" Name">
        </div>
      </div>
      <div class="form-group">
        <label for="Company" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <input name='company' type="text" class="form-control" id="inputLastName" placeholder="Company">
        </div>
      </div>
      <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label"></label>
      <div class="col-lg-10">
        <input type="email" name="_replyto" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
          <textarea name='message' class="form-control" rows="5" id="textArea"></textarea>
          <span class="help-block">Love to hear from you!</span>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-2">
     <button type="submit" value='Send' class="btn btn-primary">Submit</button>
   </div>

    </fieldset>
  </form>
