<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Anu Shrestha</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Conctact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class='logo'>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div id='hometext' class="container">
    <div class="parallax">
        <div class='home'>
            <h1 id="software">SOFTWARE/ WEB DEVELOPER</h1>
            <h1 id='galvanize'>GALVANIZE STUDENT</h1>
            <h1 id='colorado'>COLORADO BORN AND RAISED</h1>
        </div>
    </div>
</div>





<div id='about' class="container">
    <div class='aboutdiv'>
        <h1 class='aboutTitle'> ABOUT </h1>
        <div id='pic'> </div>
        <div class='abouttext'> Hello! My name is Anu Shrestha. I am a software developer from Boulder Colorado. I studied coding at Galvanize where I learned HTML, CSS, JavaScript, Node.js, Express, Angular and PSQL. On top of that I have also been teaching myself Python, Django,
            and Java. </div>
        <a href="#" id='resume' class="btn btn-primary centered">Resume</a>
    </div>
</div>

<div id="city"></div>

<div class="projects container">
    <h1 class='projectTitle'> Portfolio </h1>
    <div class="projectBox1 row">
        <div class='col-sm-4 container'>
        <div class='proj1'></div>
        <h3 class='porttext'>Football Team Insult Generator</h3>
        </div>
        <div class="col-sm-4"></div>

        <div class="col-sm-4 ">
          <div class='proj2'></div>
          <h3 class='scurrytext'>Scurry</h3></div>
    </div>

    <div class="projectBox2 row">
        <div class='col-sm-4'>
        <div class='proj3'></div>
        <h3 class='pythontext'>Python Arcade</h3>
        </div>
        <div class='col-sm-4'></div>
        <div class="col-sm-4">
        <div class='proj4'></div>
        <h3 class='readtext'>Galvanzie Reads</h3>
        </div>
    </div>

</div>
