 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Anu Shrestha</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Conctact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class='logo'>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div id='hometext' class="container">
    <div class="parallax">
        <div class='home'>
            <h1 id="software">SOFTWARE/ WEB DEVELOPER</h1>
            <h1 id='galvanize'>GALVANIZE STUDENT</h1>
            <h1 id='colorado'>COLORADO BORN AND RAISED</h1>
        </div>
    </div>
</div>





<div id='about' class='container'>
<div class='aboutdiv'>
  <h1 class='aboutTitle'> ABOUT </h1>
  <div id='pic'> </div>
  <h4 class='abouttext'> Hello! My name is Anu Shrestha. I am a software developer from Boulder Colorado. I studied coding at Galvanize where I learned HTML, CSS, JavaScript, Node.js, Express, Angular and PSQL. On top of that I have also been teaching myself Python,
  Django, and Java. </h4>
</div>
</div>






  <!-- <div class='row'>
            <h1> ABOUT </h1>
            <div ></div>
            <p> Hello! My name is Anu Shrestha. I am a software developer from Boulder Colorado. I studied coding at Galvanize where I learned HTML, CSS, JavaScript, Node.js, Express, Angular and PSQL. On top of that I have also been teaching myself Python,
            Django, and Java.</p>
  </div> -->
