
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Anu Shrestha</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Conctact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class='logo'><a href="#"></a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="parallax">
   <div id='hometext'>
     <div id="software">SOFTWARE WEB/DEVELOPER</div>
     <div id='galvanize'>GALVANIZE STUDENT</div>
     <div id='colorado'> COLORADO BORN AND RAISED</div>
</div>
</div>

<div class='about'>
<p>
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</p>
</div>
