
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Anu Shrestha</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Conctact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class='logo'><a href="#"></a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="parallax">
   <div id='hometext'>
     <div id="software">SOFTWARE WEB/DEVELOPER</div>
     <div id='galvanize'>GALVANIZE STUDENT</div>
     <div id='colorado'> COLORADO BORN AND RAISED</div>
</div>
</div>

<div class='about'>
  <div class="aboutbox">
    <h1> ABOUT </h1>
    <div class='profpic'></div>
    <div class='abouttext'>
      <p> Hello! My name is Anu Shrestha. I am a software developer from Boulder Colorado. I studied coding at Galvanize where I learned HTML, CSS, JavaScript, Node.js, Express, Angular and PSQL. On top of that I have  also been teaching myself Python, Django, and Java.</p>
      <br>
      <p>
        On my free time I love to do Jiu Jitsu, Muay Thai, and travel. My favorite food is pho and I also like long walks on the beach. 
      </p>
      </div>
  </div>
</div>
