<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id='home' class="navbar-brand" href="/#home">Anu Shrestha</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a id='about' href="#about">About</a></li>
                <li><a id='project' href="#project">Portfolio</a></li>
                <li><a id='contact' href="#contact">Conctact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class='logo'>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id='hometext' class="container">
    <div class="parallax">
        <div class='home'>
            <h1 class='title'> {{heading}}</h1>
        </div>
    </div>
</div>
