body {
  font-family: 'Oswald', sans-serif;
  min-width: 100vw;
}
nav{
  min-width: 100vw;
}

a {
  color: #00B7FF;
}


p{
  color: black;
}
h1{
  font-family: 'Oswald', sans-serif;
}

.parallax {
    overflow: hidden;
    background-image: url("../images/winter.jpg");

    width: 110vw;
    min-height: 110vh;

    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#hometext{
  position: absolute;

  overflow: hidden;
  text-overflow: ellipsis;
  height: 200vh;
  min-width: 110vw;

  margin-left: -8%;
  margin-top: -5%;
}

.home{
  margin-top: 25vh;
  margin-left: 10vw;
}


#software{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 65px;
  margin-top: 10%;
  overflow: hidden;
}
#galvanize{
  color: #F7901E;
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 65px;
}
#colorado{
  color: #F1FAEE;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 65px;
}

/*about section*/

#about{
  height:50vh;
  background-color:pink;
}

.aboutdiv{
  display: flex;
  flex-direction: row;
  margin-top: 110vh;
  margin: auto;
}
.aboutTitle{
  text-align: center;
}
.abouttext{
  text-align: center;
}
#pic{
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-image: url("../images/profile.jpg");
  background-repeat: no-repeat;
  width: 210px;
  height: 210px;
}
.aboutdiv{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110vh;
}
