body {
  font-family: 'Oswald', sans-serif;
}

a {
  color: #00B7FF;
}


p{
  color: black;
}
h1{
  font-family: 'Oswald', sans-serif;
}
/*#navbar{
  position: fixed;
}*/
.parallax {
    margin-top: -30px;

    background-image: url("../images/winter.jpg");


    min-height: 105vh;

    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

#hometext{
  position: absolute;
  margin-top: 17vh;
  margin-left: 2vw;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 70px;
}

.about{
  height:1000px;
  background-color:white;

}
#galvanize{
  color: #F7901E;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
#colorado{
  color: #F1FAEE;
}
.aboutbox{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  border-right: 10%;
  /*justify-content: center;*/
}
.profpic{
  margin-left: -5vw;
  height: 90vh;
  width: 40vw;
  background-image: url("../images/profile.jpg");
  background-repeat: no-repeat;
  m
}

.abouttext{
  width: 60vw;
  text-align: center;
  margin-left: -25vw;
  margin-top: -40vh;
}
/*.logo{
  background-image: url('../images/Logo_white.jpg');
}*/
